
body{
    margin-top: 90px;
    color: azure;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    background-size: cover; /* La imagen se ajustará al tamaño del contenedor */
    background-position: center;
    /* height: 300vh; */
    
}

.contain{
    /* background-color: rgba(240, 248, 255, 0.229); */
    background-color: rgba(70, 70, 70, 0.5);
    /* background-color: rgba(201, 11, 11, 0.795); */
    
}

.select2-results__option{
    color: black;
}



#ico_buildings{
    font-size: 50px;
    color: greenyellow;

}

#ico_contacto{
    font-size: 50px;
    color: greenyellow;
}

#ico_informe{
    font-size: 50px;
    color: greenyellow;
}

#ico_coti{
    font-size: 50px;
    color: greenyellow;
}


  
.month {
    color:black;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#card_subir_archivos{
    background-color: rgba(102, 102, 102, 0.316);

}

#dot{
    color: rgb(8, 8, 123);

}

.totales{
    color:rgb(255, 255, 255);
    /* background-color: #fff; */
    background-color: rgba(102, 102, 102, 0.316);

    border-radius: 5px;
}